# Assign and export seperately to avoid masking return values.
if ! USER_ID=$(id -u "$USER"); then
  USER_ID=1000
fi

if ! GROUP_ID=$(id -g "$USER"); then
  GROUP_ID=1000
fi

export USER_ID
export GROUP_ID

export DOCKER_USER=${DOCKER_USER:-"user"}
export APP_DIR="/home/$DOCKER_USER/bridgetown-app"
